# Ignore editor specific folders
.vs/
.vscode/
.lapce/
.focus/

# Ignore specific files
/misc/Developer Command Prompt for VS 2019.lnk
/misc/focus.exe - Shortcut.lnk

# Ignore build directory
build/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build output
bin/
obj/