# Ignore editor specific folders
.vs/
.vscode/
.lapce/
.focus/

# Ignore specific files
/misc/*.lnk

# Ignore build directory
build/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build output
bin/
obj/

# Ingore other folders
assets/third_party/