# Ignore Visual Studio and Visual Studio Code folders
.vs/
.vscode/

# Ignore build directory
build/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build output
bin/
obj/